/_output/**/*.css
/_output/**/*.js
/_output/**/*.pdf
/_output/**/*.sty
/_output/latex.aux/
**/sphinx/_build/doctrees
**/sphinx/_build/html/[._]*
**/sphinx/_build/html/*index*
**/sphinx/_build/html/*search*
**/sphinx/_build/html/*.inv
/coverage/
