/*
Copyright © 2019 Clément Pit-Claudel

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/

.alectryon-io, .alectryon-toggle-label {
    font-family: 'Iosevka Slab Web', 'Iosevka Web', 'Fira Code', monospace;
    font-feature-settings: "XV00" 1; /* Use Coq ligatures when Iosevka is available */
    line-height: initial;
    overflow: visible;
    overflow-wrap: break-word;
    position: relative;
    white-space: pre-wrap;
}

/*
CoqIDE doesn't turn off the unicode bidirectional algorithm (and PG simply
respects the user's `bidi-display-reordering` setting), so don't turn it off
here either.  But beware unexpected results like `Definition test_אב := 0.`

.alectryon-io span {
    direction: ltr;
    unicode-bidi: bidi-override;
}

In any case, make an exception for comments:

.highlight .c {
    direction: embed;
    unicode-bidi: initial;
}
*/

.alectryon-toggle,
.alectryon-io .coq-toggle,
.alectryon-io .coq-extra-goals-toggle {
    display: none;
}

.alectryon-bubble,
.alectryon-toggle-label,
.alectryon-io label.coq-input,
.alectryon-io .coq-extra-goals-label {
    cursor: pointer;
}

.alectryon-toggle-label,
.coq-extra-goals-label {
    display: block;
    font-size: 0.8rem;
}

.alectryon-io label.coq-input {
    padding: 0.1em 0; /* Enlarge the hitbox slightly to fill interline gaps */
    padding-right: 1rem; /* Prevent line wraps before the checkbox bubble */
}

.alectryon-io .coq-extra-goals-label {
    text-align: right;
}

.alectryon-bubble:before,
.alectryon-toggle-label:before,
.alectryon-io label.coq-input:after,
.alectryon-io .coq-extra-goals-label:before {
    border: 1px solid #babdb6;
    border-radius: 1rem;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    font-weight: bold;
    height: 0.25rem;
    margin-bottom: 0.15rem;
    vertical-align: middle;
    width: 0.75rem;
}

.alectryon-toggle-label:before,
.alectryon-io .coq-extra-goals-label:before {
    margin-right: 0.25rem;
}

.alectryon-io label.coq-input:after {
    margin-left: 0.25rem;
    margin-right: -1rem; /* Compensate for the anti-wrapping space */
}

@media (any-hover: hover) {
    .alectryon-bubble:hover:before,
    .alectryon-toggle-label:hover:before,
    .alectryon-io label.coq-input:hover:after {
        background: #eeeeec;
    }

    .alectryon-io label.coq-input:hover {
        text-decoration: underline dotted #babdb6;
	    text-shadow: 0 0 1px rgb(46, 52, 54, 0.3); /* #2e3436 + opacity */
    }

    .alectryon-io .coq-fragment:hover .coq-output:not(:hover) {
        display: block;
    }
}

.alectryon-toggle:checked + .alectryon-toggle-label:before,
.alectryon-io .coq-toggle:checked + label.coq-input:after,
.alectryon-io .coq-extra-goals-toggle:checked + .coq-extra-goals-label:before {
    background-color: #babdb6;
    border-color: #babdb6;
}

/* Disable clicks on sentences when the document-wide toggle is set. */
.alectryon-toggle:checked + label + .alectryon-container label.coq-input {
    cursor: unset;
    pointer-events: none;
}

/* Hide individual checkboxes when the document-wide toggle is set. */
.alectryon-toggle:checked + label + .alectryon-container label.coq-input:after {
    display: none;
}

/* .coq-output is displayed by toggles, :hover, and .alectryon-target rules */
.alectryon-io .coq-output {
    box-sizing: border-box;
    display: none;
    padding: 0.5rem;
    position: absolute;
}

.alectryon-io .coq-extra-goals .goal-hyps,
.alectryon-io .coq-extra-goals .goal-separator {
    display: none;
}

.alectryon-io .coq-extra-goals .goal-conclusion {
    max-height: 5.2em;
    overflow-y: auto;
    /* Combining ‘overflow-y: auto’ with ‘display: inline-block’ causes extra space
       to be added below the box. ‘vertical-align: middle’ gets rid of it. */
    vertical-align: middle;
}

.alectryon-io .coq-goals,
.alectryon-io .coq-responses {
    background: #eeeeec;
    display: block;
    padding: 0.25rem;
}

.alectryon-toggle:checked + label + .alectryon-container {
    width: unset;
}

.alectryon-toggle:checked + label + .alectryon-container label.coq-input + .coq-output,
.alectryon-io .coq-toggle:checked + label.coq-input + .coq-output {
    display: block;
    position: static;
    padding: 0.25rem 0;
    width: unset;
}

.alectryon-toggle:checked + label + .alectryon-container .coq-output > .coq-output-sticky-wrapper,
.alectryon-io .coq-toggle:checked + label + .coq-output > .coq-output-sticky-wrapper {
    display: block;
    margin-bottom: unset; /* Undo negative margins */
}

.alectryon-windowed .alectryon-target .coq-output .goal-hyps,
.alectryon-io .coq-extra-goals-toggle:checked + label + .coq-extra-goals .goal-hyps {
    display: flex;
}

.alectryon-windowed .alectryon-target .coq-output .goal-separator,
.alectryon-io .coq-extra-goals-toggle:checked + label + .coq-extra-goals .goal-separator {
    display: block;
}

.alectryon-windowed .alectryon-target .coq-output .goal-conclusion,
.alectryon-io .coq-extra-goals-toggle:checked + label + .coq-extra-goals .goal-conclusion {
    max-height: unset;
    overflow-y: unset;
}

.alectryon-toggle:checked + label + .alectryon-container .coq-toggle ~ .coq-wsp,
.alectryon-io .coq-toggle:checked ~ .coq-wsp {
    display: none;
}

.alectryon-io .coq-responses,
.alectryon-io .coq-response,
.alectryon-io .coq-goals,
.alectryon-io .coq-goal,
.alectryon-io .goal-hyp,
.alectryon-io .goal-conclusion {
    border-radius: 0.15rem;
}

.alectryon-io .coq-goal,
.alectryon-io .coq-response,
.alectryon-io .coq-extra-goals-label {
    margin: 0.25rem;
}

.alectryon-io .coq-goal,
.alectryon-io .coq-response {
    align-items: center;
    background: #d3d7cf;
    display: block;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
}

.alectryon-io .goal-name {
    display: none; /* Hidden by default */
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.alectryon-io .goal-hyps {
    align-content: space-around;
    align-items: baseline;
    display: flex;
    flex-flow: column; /* row wrap? */
    justify-content: space-around;
    margin: -0.15rem -1rem;
}

.alectryon-io .goal-hyp,
.alectryon-io .goal-conclusion {
    background: #eeeeec;
    display: inline-block;
    padding: 0.15rem 0.35rem;
}

.alectryon-io .goal-hyp {
    display: inline-flex;
    margin: 0.15rem 1rem;
    z-index: 1;
}

.alectryon-io .hyp-names {
    font-weight: 600;
    /* Shrink the list of names, but let it grow as long as space is available. */
    flex-basis: min-content;
    flex-grow: 1;
}

.alectryon-io .hyp-punct {
    font-weight: 600;
    margin: 0 0.5rem;
}

.alectryon-io .hyp-body,
.alectryon-io .hyp-type {
    display: flex;
    vertical-align: top;
}

.alectryon-io .goal-separator {
    background: #555753;
    border: none;
    display: block;
    height: 1px;
    margin: 0.55rem 0;
    width: 100%;
}

/******************/
/* Floating style */
/******************/

.alectryon-floating .coq-output {
    width: 100%;
}

/* If there's space, display goals to the right of the code, not below it. */
@media screen and (any-hover: hover) {
    @media (min-width: 90rem) {
        .alectryon-floating .alectryon-io {
            /* FIXME: needed? */
            box-sizing: border-box; /* Needed so .coq-output won't overflow */
        }

        .alectryon-floating .coq-output {
            bottom: 0;
            left: 100%;
            top: 0;
            width: 100%;
        }

        /* This odd margin-bottom property prevents the sticky div from bumping
           against the bottom of its container (.coq-output).  The alternative
           would be enlarging .coq-output, but that would cause overflows,
           enlarging scrollbars and yielding scrolling towards the bottom of the
           page.  Doing things this way instead makes it possible to restrict
           .coq-output to a reasonable size (100%, through top = bottom = 0).
           See also https://stackoverflow.com/questions/43909940/. */
        .alectryon-io .coq-output-sticky-wrapper {
            margin-bottom: -200%;
            position: sticky;
            top: 0;
        }
    }

    /* Float underneath the current block
    @media (max-width: 90em) {
        .alectryon-floating .coq-output {
            top: 100%;
        }
    } */
}

/********************/
/* Multi-pane style */
/********************/

.alectryon-windowed {
    border: 0 solid #2e3436;
    box-sizing: border-box;
}

.alectryon-windowed .alectryon-target label.coq-input {
    /* FIXME use a background? FIXME if keywords were ‘bolder’ we wouldn't need !important */
    font-weight: bold !important; /* Use !important to avoid a * selector */
}

.alectryon-standalone,
.alectryon-windowed .coq-output {
    background: #f6f6f6; /* Ensure that short goals hide long ones */
}

.alectryon-windowed .coq-fragment:hover .coq-output,
.alectryon-windowed .alectryon-target .coq-output {
    display: block;
    height: 100%;
    overflow-y: auto;
    position: fixed;
}

.alectryon-windowed .alectryon-target .coq-output {
    z-index: 1; /* Place this goal behind those shown using :hover */
}

.alectryon-windowed .coq-fragment:hover .coq-output {
    z-index: 2; /* Place this goal above .alectryon-target ones */
}

.alectryon-windowed .alectryon-target .coq-output .coq-extra-goals-label {
    display: none;
}

/********************/
/* Standalone style */
/********************/

.alectryon-standalone .alectryon-windowed {
    display: block;
    margin: 0;
    overflow-y: auto;
    position: absolute;
}

.alectryon-standalone .alectryon-io {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
}

@media screen and (min-width: 60rem) {
    .alectryon-standalone .alectryon-windowed {
        border-right-width: 1px;
        bottom: 0;
        left: 0;
        right: 50%;
        top: 0;
    }

    .alectryon-standalone .coq-fragment:hover .coq-output,
    .alectryon-standalone .alectryon-target .coq-output {
        bottom: 0;
        left: 50%;
        right: 0;
        top: 0;
        width: 50%;
    }
}

@media screen and (max-width: 60rem) {
    .alectryon-standalone .alectryon-windowed {
        border-bottom-width: 1px;
        bottom: 40%;
        left: 0;
        right: 0;
        top: 0;
    }

    .alectryon-standalone .coq-fragment:hover .coq-output,
    .alectryon-standalone .alectryon-target .coq-output {
        bottom: 0;
        left: 0;
        right: 0;
        top: 60%;
    }
}
